
.top-0 { top: 0; }
.left-0 { left: 0; }
.right-0 { right: 0; }
.btm-0 { bottom: 0; }

.pos-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pos-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pos-r { position: relative; }
.pos-a { position: absolute; }
.pos-f { position: fixed; }
.pos-s {
  position: sticky;
}

.z--1 { z-index: -1; }
.z-1 { z-index: 1; }
.z-10 { z-index: 10; }
.z-100 { z-index: 100; }
.z-1000 { z-index: 1000; }