.trans-200 {
  transition: all ease 200ms;
}
.trans-300 {
  transition: all ease 300ms;
}
.up-down {
  transform: rotateX(180deg);
}
.up-close {
  transform: translateY(-100%);
}

.anim-show {
  animation: anim_show 100ms linear infinite;
}

@keyframes anim_show {
  100% {
    transform: scale(0.8);
  }
}
