
.gray { color: #777; }
.gray-a { color: #aaa; }
.white { color: #fff; }

.bg-white { background: #fff; }
.bg-e { background: #eee; }
.bg-gray { background: #999; }
.bg-black-5 { background: rgba(0,0,0,.5); }
.bg-black-7 { background: rgba(0,0,0,.7); }

.suc-1 { color: #67C23A; }
.red-1 { color: #f51!important; }